<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <section>
        <div class="alert-box">
            <p class="alert"></p>
        </div>
        <form class="form">
            <h1> FSE Chat Room </h1>
            <div class="inputbox">
                <label>Username</label>
                <input type="text" required>
            </div>
            <div class="inputbox">
                <label>Password</label>
                <input type="password" required>
            </div>
            <div class="button">
            <button>Login</button>
            <button onclick="window.location.href='/register'">Register</button>
            </div>
        </form>
    </section>
    <script src="js/login.js"></script>
</body>
</html>