<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="#">
</head>
<body>

    <section>
        <div class="alert-box">
            <p class="alert"></p>
        </div>
        <form class="form">
            <h1> Create a new account </h1>
            <div class="inputbox">
                <label>Username</label>
                <input type="text" class="userName" required>
            </div>
            <div class="inputbox">
                <label>Password</label>
                <input type="password" class="password" required>
            </div>
            <div class="register-button">
            <button class="createButton">Register</button>
            </div>
        </form>
    </section>
    <script src="js/register.js"></script>
</body>
</html>